@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Tailwind source/input files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px; /* Adjust the font size as needed */
	font-weight: 700; /* Makes it bold. Use 400 for normal weight */
  }

/*added */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
   background: #1e1e24;
}
::-webkit-scrollbar-thumb{
    background: #3f3f40;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

/*added avatar for profile pic styling on ProfilePage*/
.avatar {
	vertical-align: middle;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	/*border-width: 1px; */
	border-color: gray;
	border-style: outset;
}
.navBar-avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	/*border-width: 1px; */
	border-color: gray;
	border-style: outset;
}
nav {
	display: flex;
	align-items: center;
	margin-left: auto; /* Add this line to align items to the right */
  }

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.bar {
	display: flex;
	margin-right: 15%;
	margin-left: 30%;
	margin-top: 25px; /* Add margin-top to create buffer space below the navbar */
	align-items: center;
  }
  
  .searchbar {
	border-radius: 15px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 70%; /* Adjust the width as needed */
  }

h1.sign-up {
position: absolute;
width: 546px;
height: 53px;
left: 140px;
top: 214px;

/* font-family: 'Inter';
font-style: normal; */
font-weight: 600;
font-size: 48px;
line-height: 72px;
/* or 150% */

color: #000000;
}

input.name{
display: flex;
flex-direction: row;
align-items: center;
padding: 21px 31px;
gap: 10px;
	
position: absolute;
width: 475px;
height: 76px;
left: 139px;
top: 311px;
	
background: #D9D9D9;
}

input.email{
/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 21px 31px;
gap: 10px;

position: absolute;
width: 475px;
height: 76px;
left: 140px;
top: 405px;

background: #D9D9D9;

}

input.pass{
	/* Frame 41 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 21px 31px;
gap: 10px;

position: absolute;
width: 475px;
height: 76px;
left: 140px;
top: 499px;

background: #D9D9D9;

}

.submit-button{
	/* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 163px;
gap: 10px;
color: white;

position: absolute;
width: 475px;
height: 58px;
left: 140px;
top: 593px;

background: #6C6C6C;

}

.extra{
	/* Already have an account? Sign in */

position: absolute;
width: 250px;
height: 19px;
left: 253px;
top: 806px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #000000;


}